@model IEnumerable<CardAllAdminViewModel>

<div class="row">
    @foreach (var card in Model)
    {
        <div class="col-md-4 text-center">
            <b><i>@card.Destination</i></b>
            <div class="zoom-without-container">
                <img src="@card.ImageUrl"
                     class="card-img-top img-fluid card-image" alt="zoom">
            </div>
            <div class="card-body text-center">
                <p><i>@card.Destination</i></p>
                @*<a asp-controller="Cards" asp-action="Details" asp-route-id="@card.Id" class="btn btn-dark bg-dark">Details</a>
                <a asp-controller="Cards" asp-action="Delete" asp-route-id="@card.Id" class="btn btn-danger">Delete</a>*@
                <a asp-controller="Packages" asp-action="AddCard" asp-route-id="@card.Id" class="btn btn-warning">Edit</a>
            </div>
        </div>
    }

</div>

